.mobile-toolbar {
    background-color: black;
}

.mobile-search {
    width: 100%;
}

.desktop-search-wrapper {
    padding-left: 0px;
    padding-right: 0px;
}

.desktop-search {
    width: 100%;
}

.img img {
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.grid_padding_bottom > *:first-child {
    margin-top: 2.5%;
}

.grid_padding_bottom > * {
    margin-bottom: 3vh;
    animation-name: scaleUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.empty_search {
    font-size: 35vw;
    position: absolute;
    left: 32.5vw;
    top: 20%;
    color: rgba(0, 0, 0, 0.459)
}